<!-- ABOUT -->
<section
  class="about full-screen d-lg-flex justify-content-center align-items-center"
  id="about"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
        <div class="about-text">
          <small class="small-text"
            >Welcome to
            <span class="mobile-block">my portfolio website!</span></small
          >
          <h1 class="animated animated-text mb-8">
            <span class="mr-2">Hey folks, I'm </span>
            <div class="animated-info">
              <span class="animated-item">Rocío Garrido</span>
              <span class="animated-item">Web Developer</span>
            </div>
          </h1>

          <p>
            Frontend developer with 3 years of experience in technologies such
            as Angular, Typescript, JavaScript (ES6), HTML5, CSS3, SASS, and
            additional knowledge in LitElement, Web Accessibility (WCAG,
            WAI-ARIA) and NgRx. I am known for my quick learning ability,
            adaptability, and proactivity. Used to collaborating in
            international environments, I am proficient in multiple languages
            and have strong communication skills.
          </p>

          <div class="custom-btn-group mt-4">
            <a
              href="assets/files/rocio_garrido_cv_english.pdf"
              class="btn mr-lg-2 custom-btn"
              download="Rocio_Garrido_CV_English.pdf"
              ><i class="uil uil-file-alt"></i> Download Resume</a
            >
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-md-12 col-12">
        <div class="about-image png">
          <img src="assets/image.png" class="img-fluid" alt="png image" />
        </div>
      </div>
    </div>
  </div>
</section>
