<section class="project py-5" id="project">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center mx-auto col-12">
        <h2 class="mb-4">Projects</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-12" *ngFor="let project of projects">
        <div class="project-card">
          <img [src]="project.image" alt="{{ project.title }}" class="img-fluid" />
          <div class="project-info">
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
            <a [href]="project.link" target="_blank" class="btn btn-primary">
              View Project
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
