.project-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Asegura que las imágenes no sobresalgan */
  background-color: #fff; /* Fondo blanco o cualquier color deseado */
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.project-info {
  padding: 15px;
  text-align: center;
}

.project-info h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-info p {
  font-size: 16px;
}

.project-info .btn {
  margin-top: 10px;
  background-color: #ffc200;
  color: #fff;
  border: none;
}

.project-info .btn:hover {
  background-color: #474559;
}
