<section class="contact py-5" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mr-lg-5 col-12">
        <div class="social-links">
          <h3 class="mb-4">Connect with me</h3>
          <a href="https://www.github.com/rociogarrido" target="_blank">
            <i class="uil uil-github"></i> GitHub
          </a>
          <a
            href="https://www.linkedin.com/in/rociogarridoanon/"
            target="_blank"
          >
            <i class="uil uil-linkedin"></i> LinkedIn
          </a>
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <div class="contact-form">
          <h2 class="mb-4">Interested to work together? Let's talk</h2>

          <form action="" method="get">
            <div class="row">
              <div class="col-lg-6 col-12">
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  placeholder="Your Name"
                  id="name"
                />
              </div>

              <div class="col-lg-6 col-12">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  placeholder="Email"
                  id="email"
                />
              </div>

              <div class="col-12">
                <textarea
                  name="message"
                  rows="6"
                  class="form-control"
                  id="message"
                  placeholder="Message"
                ></textarea>
              </div>

              <div class="ml-lg-auto col-lg-5 col-12">
                <input
                  type="submit"
                  class="form-control submit-btn"
                  value="Send Button"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
