<section
  class="resume py-5 d-lg-flex justify-content-center align-items-center"
  id="resume"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <h2 class="mb-4">Experiences</h2>

        <div class="timeline">
          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2021</span>
            </div>
            <div class="timeline-info">
              <h3>
                <span>Angular Frontend Developer</span><small>Wefox</small>
              </h3>
              <p>
                Proin ornare non purus ut rutrum. Nulla facilisi. Aliquam
                laoreet libero ac pharetra feugiat. Cras ac fermentum nunc, a
                faucibus nunc.
              </p>
            </div>
          </div>

          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2018</span>
            </div>
            <div class="timeline-info">
              <h3>
                <span>Spanish Teacher</span><small>Instituto Cervantes</small>
              </h3>
              <p>
                Fusce rutrum augue id orci rhoncus molestie. Nunc auctor
                dignissim lacus vel iaculis.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <h2 class="mb-4 mobile-mt-2">Education</h2>

        <div class="timeline">
          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2021</span>
            </div>
            <div class="timeline-info">
              <h3>
                <span>Frontend Development Course</span><small>Adalab</small>
              </h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
                animi pariatur non nobis commodi quis suscipit repellendus earum
                accusantium a iure harum impedit, neque eius? Minima assumenda
                voluptatibus unde id.
              </p>
            </div>
          </div>

          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2008</span>
            </div>
            <div class="timeline-info">
              <h3>
                <span
                  >Master's Degree in Teaching Spanish as a Foreign
                  Language</span
                ><small>Universidad Antonio de Nebrija</small>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
