<section
  class="resume py-5 d-lg-flex justify-content-center align-items-center"
  id="resume"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <h2 class="mb-4">Experience</h2>

        <div class="timeline">
          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2021</span>
            </div>
            <div class="timeline-info">
              <h3>
                <span>Angular Frontend Developer</span><small>Wefox</small>
              </h3>
              <ul class="custom-bullets">
                <li>
                  Developed web components using Angular, converting Figma
                  designs into fully functional web pages.
                </li>
                <li>
                  Collaborated with product and design teams to improve UI based
                  on user feedback.
                </li>
                <li>
                  Performed code reviews to uphold quality standards and ensure
                  best practices compliance.
                </li>
                <li>
                  Implemented Cypress and Playwright tests to ensure code
                  stability and reliability.
                </li>
                <li>
                  Fixed bugs promptly, maintaining product performance and user
                  satisfaction.
                </li>
                <li>
                  Participated in sprint planning and agile ceremonies, using
                  Scrum principles.
                </li>
                <li>
                  Worked closely with backend and QA teams to deliver
                  high-quality products.
                </li>
                <li>
                  Managed tasks and codebase using JIRA, Confluence, Git, and
                  GitHub.
                </li>
                <li>
                  Contributed to design system using LitElement for consistency
                  and scalability across applications.
                </li>
                <li>
                  Refactored code to enhance maintainability, performance, and
                  scalability.
                </li>
              </ul>
            </div>
          </div>

          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2018</span>
            </div>
            <div class="timeline-info">
              <h3>
                <span>Spanish Teacher</span><small>Instituto Cervantes</small>
              </h3>
              <ul class="custom-bullets">
                <li>Teaching Spanish at all CEFR levels.</li>
                <li>Conducted DELE examinations for all proficiency levels.</li>
                <li>Administered level tests based on the CEFR standards.</li>
                <li>
                  Managed projects, conducted assessments, and monitored
                  progress.
                </li>
                <li>Facilitated teacher training workshops and sessions.</li>
                <li>Developed teaching training courses and materials</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <h2 class="mb-4 mobile-mt-2">Education</h2>

        <div class="timeline">
          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2021</span>
            </div>
            <div class="timeline-info">
              <h3>
                <span>Frontend Development Course</span><small>Adalab</small>
              </h3>
              <ul class="custom-bullets">
                <li>
                  Layout: HTML5, CSS3, Flexbox, CSS Grid, responsive design,
                  SASS, animations.
                </li>
                <li>Web development frameworks: Bootstrap.</li>
                <li>Vanilla JavaScript an ES6 knowledge</li>
                <li>Third party APIs web service.</li>
                <li>Creation of simple SPAs with React.</li>
                <li>Version Control with Git.</li>
                <li>Experience developing projects using Agile and SCRUM.</li>
                <li>Development tools: Visual Studio Code, Terminal.</li>
                <li>Communication and teamwork tools: Slack, GitHub.</li>
              </ul>
            </div>
          </div>

          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2008</span>
            </div>
            <div class="timeline-info">
              <h3>
                <span
                  >Master's Degree in Teaching Spanish as a Foreign
                  Language</span
                ><small>Universidad Antonio de Nebrija</small>
              </h3>

              <ul class="custom-bullets">
                <li>Technical and teaching skills.</li>
                <li>History of methodology of foreign languages.</li>
                <li>Methodological principals of communicative approaches.</li>
                <li>Theories of language acquisition.</li>
                <li>Pragmatics.</li>
              </ul>
            </div>
          </div>

          <div class="timeline-wrapper">
            <div class="timeline-yr">
              <span>2005</span>
            </div>
            <div class="timeline-info">
              <h3>
                <span
                  >Bachelor's Degree in Translation and Interpreting</span
                ><small>Universidad de Granada</small>
              </h3>

              <ul class="custom-bullets">
                <li>English, French and Russian.</li>
                <li>Sworn Translator.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
